<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        CRM
    </title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/error.css">
</head>

<body>

    <div class="error-container">
        <h2>Home page content here</h2>
        <br/><br/>
        <a class="btn btn-primary" href="/users/login">Login</a>
        <a class="btn border-button ml-3" href="/users/register">Signup </a>
    </div>

</body>

</html>